<div class="cust-button-wrap m-auto">
  <a href="{{link}}" target="{{target}}" id="{{id}}" class="{{id}} cust-button shine" {{download}}>
    <div class="cust-button-inner">
      <span class="cust-button-text">{{text}}</span>
    </div>
  </a>  
</div>