<div class="desc-container" id="{{id}}">
    {{#if videoSrc}}
    <iframe src="{{videoSrc}}" class="p-3 pb-0" allowfullscreen></iframe>
    {{/if}}

    {{#if imgSrc}}
    <div class="desc-container-modal-img m-3" style="background: url('{{imgSrc}}')"></div>
    {{/if}}
    {{!-- <img src="{{imgSrc}}" class="p-3 pb-0" /> --}}
    <div class="desc-wrapper centered px-5 pb-4">
        <div class="title">{{title}}</div>
        <div class="text">{{description}}</div>
    </div>
</div>