<div class="widget mt-md-2" id="{{id}}">
    <a href="{{link}}" class="d-flex align-items-center flex-column flex-md-row py-1 pl-md-3">
        <img src="{{icon}}" alt="{{alt}}" class="my-1 my-md-0 px-md-0">
        <div class="px-md-4 text-center ">
            <span class="widget-text text-uppercase">{{{text}}}</span>            
        </div>
    </a>                
</div>